$isabelline: #F5F1ED;
$stormcloud: #4B6866;
$sunglow: #FFCE3D;
$darkerSunglow: #f2b522;
$middleblue: #90CED7;

$spacing: 16px;
$textSizeDefault: 24px;
$textSizeLarge: 48px;
$textSizeSuperLarge: 10vw;

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: $textSizeLarge;
}

*:not(h1) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: $textSizeDefault;
}

a {
  text-decoration: none;
  color: $sunglow;

  &:hover {
    color: $darkerSunglow;
  }
}

.container {
  display: block;
  width: 100vw;
  color: $isabelline;
  background-color: $isabelline;

  > .wrapper {
    max-width: 1440px;
    margin: auto;
    background-color: inherit;
  }
}

.introduction {
  background-color: $sunglow;
  background: linear-gradient(135deg, $sunglow, $darkerSunglow);
  position: relative;

  .introduction__header {
    padding: 5%;
    text-align: center;
  }

  .introduction__photo {
    width: 50%;
    max-width: 550px;
    border: $spacing solid $isabelline;
    border-bottom-width: $spacing * 4;
    background-image: url('../img/header_desktop.jpeg');
    min-height: 450px;
    background-size: cover;
    margin: auto;
    transform: rotate(6deg);

    h1 {
      font-size: $textSizeSuperLarge;
      transform: rotate(-6deg);
    }
  }
}

.social {
  > .wrapper {
    color: $stormcloud;
    text-align: center;
    padding: $spacing;
  }

  .gallery {
    padding: 48px 0;

    img {
      display: inline;
      width: 24%;
    }

    img:after {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
  }
}

.blog {
   background-color: $middleblue;

   > .wrapper {
     text-align: center;
     margin-bottom: $spacing * 3;

     h1 {
       font-size: $textSizeSuperLarge;
     }
   }

   .blog__item {
     display: inline-block;
     width: 100%;
     min-height: 256px;
     background-size: cover;
     background-position: 50%;
     color: $isabelline;
     position: relative;

     .wrapper {
       position: absolute;
       bottom: 0;
       width: 100%;
       width: 100%;
     }

     p {
       margin: $spacing;
       text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
       font-size: $textSizeLarge;
     }
   }
}
